.table-body {
  height: 75vh;
  max-height: 75vh;
  // display: block;
  border-collapse: collapse;
  width: 100%;
  overflow: scroll;

  &__table-row {
    background-color: white;
    cursor: pointer;
  }
  .background--transparent {
    cursor: default;
    background-color: transparent !important;
  }
}
